@import url('https://fonts.cdnfonts.com/css/helvetica-neue-75');

* {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.chatroom-container {
    display: block;
}

.form-username {
    display: none;
}

.chatroom-header {
    background-color: #f0f2f5;
    color: black;
    font-size: 2rem;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding-inline: 12px;
    align-items: center;
    overflow: hidden;
}

.messages-container {
    height: 81vh;
    background: url(img/chatbg.jpg) no-repeat 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-inline: 12px;
}

.messages-container::-webkit-scrollbar {
    display: none;
}

.message {
    background-color: whitesmoke;
    width: fit-content;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 12px;
    padding-inline: 15px;
    margin-top: 15px;
}

.receive {
    border-top-left-radius: 0px;
}

.sent {
    align-self: flex-end;
    background-color: #DCF8C6;
    border-bottom-right-radius: 0px;
}

.footer {
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    background: #f0f2f5;
    gap: 12px;
    padding: 12px;
    align-items: center;
}

#message-input {
    width: 92%;
    border-radius: 15px;
    padding-inline: 12px;
    height: 100%;
    border: 4px double grey;
}

#send-button>.bi {
    margin-left: 8px;
    rotate: 43deg;
}

.chatrow {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.person {
    display: flex;
    flex-direction: column;
}

#send-button {
    border-radius: 100%;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    background: #00a884;
    color: white;
    min-height: 12px;
    min-width: 40px;
    border: none;
    font-size: 18px;
}

.online-message {
    position: relative;
    font-size: 15px;
    text-align: start;
    padding-inline: 3px;
}

.bi:hover {
    cursor: pointer;
}